{% extends 'SeaBundle:Default:layout.html.twig' %}

{% block specifics_javascripts %}
    {#'nom_fichier_javascripts_propore_à_la_page'#}
    {%- javascripts
    -%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {%- endjavascripts -%}
{% endblock specifics_javascripts %}

{% block specifics_stylesheets %}
    {#{% stylesheets %}#}
    {#<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />#}
    {#{% endstylesheets %}#}
{% endblock specifics_stylesheets %}

{% block title %}Resultat{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Résultat de la recherche</h1>
    </div>
    <div class="row text-center">
            {% if associations is empty %}
                <p><i><h3 class="text-muted">Aucune association trouvée</h3></i></p>
            {% else %}
            {% for association in associations %}
                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ association.name}}</h3>
                            <h4>{{ association.category.name}}</h4>
                            <p>{{ association.address.city}}</p>
                            <p>
                                {#<a href="#" class="btn btn-primary">S'abonner</a> #}
                                <a href="{{ path('sea_association', {'associationId' : association.id }) }}" class="btn btn-info">Voir détails</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}